.demo {
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow: auto;
}
.demo .demo-tree {
    width: 200px;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #ddd;
    padding: 10px;
}