.view-industry {
    height: 100%;
}
.view-industry .industry-plan-list {
    width: 200px;
    height: 100%;
    float: left;
    border-right: 1px solid #ddd;
}
.view-industry .industry-plan-list .ipl-title {
    height: 40px;
    padding: 10px 20px;
}
.view-industry .industry-plan-list .ipl-item {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}
.view-industry .materials-list {
    float: left;
    width: calc(100% - 200px);
    padding: 20px;
}

.view-industry .materials-list td {
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
}

.view-industry .materials-list .mtl-list-input {
    height: 34px;
    width: 100%;
    border: none;
}