<div class="type-tree">
    <ul class="type-tree-ul no-list-style">
        <li ng-repeat="type in data.typeTree.children">
            <div ng-click="fn.showChild(type)">{{type.name}}</div>
            <div ng-include="'type-list.html'"></div>
        </li>
    </ul>
</div>
<script type="text/ng-template" id="type-list.html">
    <ul class="type-tree-ul no-list-style" ng-if="type.childShow" ng-style="{paddingLeft:20}">
        <li ng-repeat="type in type.children">
            <div ng-click="fn.showChild(type)">{{type.name}}</div>
            <div ng-include="'type-list.html'"></div>
        </li>
        <li ng-repeat="item in type.items">
            <div>{{item.name}}</div>
        </li>
    </ul>
</script>